<h1>New post</h1>

<%= render "form", post: @post %>

<br>

<div>
  <%= link_to "Back to posts", posts_path %>
</div>
<script>
var content_field = $('#content-field');
var char_count = $('#char-count');

 
content_field.on('input',function(){
    var con = content_field.val();
    char_count.text(con.length);
})

</script>